body {
  font-family: 'Poppins', sans-serif;
}
.tick line {
  stroke: #C0C0BB;
}
.tick text {
  fill: #635F5D;
}
.marks circle {
  fill:  #137B80;
}
.marks path {
  stroke:  #137B80;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.axis-label{
  font-size: 1.5em;
  color: #635F5D;
}