body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

path {
  fill: none; 
  stroke-width: 2px;
}

.markerLine {
  stroke: #a2a2a2;
  stroke-width: 1px;
}

text {
  font-size: 2em;
}

.domain {
  display: none;
}

.tick line {
  stroke: #dedede;
}

.tick text {
  fill: #565656;
  font-size: 14px;
}

.axisLabel {
  font-size: 20px;
  fill:  #313639;
}