body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

svg {
  background: #fef3e7;
}

.markerLine {
  fill: none;
  stroke: #a2a2a2;
  stroke-width: 1px;
}

.markerLine.active {
  stroke: #333;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

text {
  font-size: 2em;
}

.title {
  font-size: 24px;  
}

.tooltip-stroke {  
  font-weight: bold;
  font-size: 16px;  
  stroke: #fff;
  stroke-width: 1px;
}

.tooltip {
  font-weight: bold;
  font-size: 16px;  
}

.domain {
  display: none;
}

.tick line {
  stroke: #f4e8dc;
}

.tick text {
  fill: #565656;
  font-size: 14px;
}

.axisLabel {
  font-size: 20px;
  fill:  #313639;
}