body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

path {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.markerLine {
  stroke: black;
  stroke-width: 1px;
}

text {
  font-size: 2em;
}

.domain {
  display: none;
}

.tick line {
  stroke: #bbbbbb;
}

.tick text {
  fill: #565656;
  font-size: 14px;
}